
@font-face {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400; 
    src: local("Rubik"),
	url("/fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700; 
    src: local("Rubik"),
	url("/fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 800; 
    src: local("Rubik"),
	url("/fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800; 
    src: local("Raleway"),
	url("/fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%; 
}

body {
	min-height: 100%; 
	display: flex; 
	flex-direction: column;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	background: #FFFFFF;	
}

body > * {
	flex-shrink: 0; 
}

input, textarea, button {
	font-family: inherit;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}


a {
    text-decoration: none;
	color: black;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-container{
	flex-grow: 1;

}
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px; 
	
}
.header{
	position: relative;
	width: 1160px;
	height: 186px;
	background: #FFE17F;
	margin-top: 40px;
} 
.wrapper-header-logo{
	position: absolute;
	left: 60px;
    top: -23px;
}
.navigation {
	width: 1041px;
	align-items: flex-start;
	margin: 0 auto;
	padding-top: 48px;
	
} 
.navigation-list{
	display: flex;
	justify-content: space-between;		
	width: 1041px;
	list-style-type: none;
	margin: 0;
  	padding: 0;
	
}
.navigation-list:first-child{
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 29px;
}
.navigation-list:last-child {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}
.navigation-list:first-child > .navigation-item:first-child{
	width: 516px;
}
.navigation-list:last-child > .navigation-item:first-child{
	width: 236px;	
	margin-right: 304px;	
}



.visually-hidden {
	visibility: hidden;
}
.slider-preview {
	display: flex;
}
.preview-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}
.preview-text {
	color: #444444;
}
.button {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 3.2px;
	text-align: center;
	text-transform: uppercase;
}
.preview-advantages {
	font-size: 36px;	
}
.preview-advantages p{
	font-size: 16px;
	color: #444444;
}
.product-category {
	margin-bottom: 70px;
}
.wrapper-product-category{
	display: flex;
}
.product-category-card {
	margin-right: 40px;
}
.product-category-card:last-child{
	margin-right: 0;
}
.product-list{
	display: flex;
	flex-wrap: wrap;
	width: 760px;
	margin-top: 70px;
	margin-left: 70px;
	list-style-type: none;
}
.product-card{
	width: 360px;
}
.product-card:first-child, .product-card:nth-child(3){
	margin-right: 40px;
	
}
.wrapper-card {
	width: 160px;
	height: 160px;
	padding-top: 40px;
	text-align: center;
	background: #FFE17F;
}
.card-title {
font-family: 'Raleway', sans-serif;
font-weight: 800;
line-height: 24px;
letter-spacing: -0.02em;
}
.services {
	display: flex;
}
.services-list {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 21px;
	text-align: center;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	list-style-type: none;
}
.services-item:first-child {
	color: #FFE17F;
}
.content-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}
.content-description {
	color: #444444;
}
.more-delivery {
	display: flex;
	width: 1160px;
	height: 100px;
	margin-bottom: 97px;
}
.wrapper-delivery-img {
	width: 125px;
	text-align: center;
	padding-top: 35px;
	background: #FFE17F;
}
.wrapper-delivery-description {
	width: 1160px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	background: #F0F0F0;
}
.wrapper-delivery-description p:last-child {
	display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
	text-transform: lowercase;}
.more-about, .more-contact {
	color: #444444;	
}
.wrapper-header {
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
}
.about-list {
	font-weight: 800;
	line-height: 20px;
	list-style-type: none;
}
.subscription {	
	background: #F0F0F0;
}
.subscription-header {
	font-family: 'Raleway', sans-serif;		
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}


.inner-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px;
	margin-top: 37px;
}

.breadcrumbs {
	display: flex;
	font-size: 16px;
	line-height: 19px;
	list-style-type: none;
	opacity: 0.6;	
}

.breadcrumbs-item {
	margin-right: 35px;	
}
.breadcrumbs-item:last-child {
	margin-right: 0;
}
.catalog-products {
	display: flex;
	flex-direction:row;
	
}
.wrapper-catalog-filter-title{
	background: #DCDCDC;
}
.catalog-filter {
	background: #EBEBEB;
}
.catalog-filter-list{
	list-style-type: none;
}
.catalog-filter-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

.catalog-filter-item {
	font-size: 16px;
	line-height: 19px;
}

.sorting-type {
	background: #EBEBEB;
}
.sorting-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}
.product-card-title {
	font-weight: 800;
	line-height: 24px;
	letter-spacing: -0.36px;
}
.product-card-price {
	line-height: 21px;
	color: #444444;
}
.pagination {
	display: flex;
	justify-content: space-between;
	background: #EBEBEB;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	margin-top: 51px;
	margin-bottom: 77px;
	list-style-type: none;
}

.footer {
	background: #444444;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	padding: 62px 0 64px  0;
}
.wrapper-footer-logo{
	margin-bottom: 35px;	
}
.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 66px;
}
.footer-address {
	width: 238px;
	font-size: 16px;
	line-height: 19px;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	width: 440px;
	font-family: 'Raleway', sans-serif;		
	font-weight: 800;
	line-height: 21px;
	text-align: center;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}
.footer-nav-item {
	color: #FFFFFF;
}
.footer-tel {
	font-size: 16px;
}
.footer-social {
	display: flex;
	justify-content: space-between;
}
.footer-social-list {
	display: flex;
	margin-right: 392px;
}
.footer-social-item {
	display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);}
.divider{
	border:#FFC700;
	width: 80px;
	height: 7px;
	background: #FFC700;
}
.wrapper-footer-social{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

